streamlit
scikit-learn
nltk
pypdf
plotly
pandas
numpy
networkx
matplotlib
sentence-transformers
langgraph
langchain
langchain-groq
langchain-community
langchain-huggingface
faiss-cpu
beautifulsoup4
requests
python-dotenv
ddgs
langchain-tavily
tavily-python
