fastapi
uvicorn[standard]
websockets
sqlalchemy
pydantic>=2.0
email-validator
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
redis
faiss-cpu
scikit-learn
nltk
pypdf
sentence-transformers
langgraph
langchain
langchain-groq
langchain-community
langchain-huggingface
tavily-python
langchain-tavily
python-dotenv
networkx
plotly
pandas
numpy
matplotlib
beautifulsoup4
requests
